<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add question</title>
  <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng-app="questionAdd">
    <div ng-controller="QuestionController">
    <form novalidate>
	<div class="form-group">
		<label>Question</label>
		<input type="textarea" ng-model="question.desc" />
	</div>
	<div class="form-group">
		<label>Answer1</label>
		<input type="textarea" ng-model="question.answer1"/>
	</div>
	<div class="form-group">
		<label>Answer2</label>
		<input type="textarea" ng-model="question.answer2"/>
	</div>
	<div class="form-group">
		<label>Answer3</label>
		<input type="textarea" ng-model="question.answer3"/>
	</div>
	<div class="form-group">
		<label>Answer4</label>
		<input type="textarea" ng-model="question.answer4"/>
	</div>
	<div class="form-group">
		<label>Answer5</label>
		<input type="textarea" ng-model="question.answer5"/>
	</div>
      <button ng-click="reset()">RESET</button>
      <button ng-click="update(user)">SAVE</button>
    </form>
    <pre>form = {{question | json}}</pre>
  </div>
  <script>
    angular.module('questionAdd', [])
      .controller('QuestionController', ['$scope', function($scope) {
        $scope.master = {};

        $scope.update = function(user) {
          $scope.master = angular.copy(user);
        };

        $scope.reset = function() {
          $scope.user = angular.copy($scope.master);
        };

        $scope.reset();
      }]);
  </script>
</body>
</html>